*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img-fluid{
    width:100% ;
    height: 250px !important;
}
.services{
    display: flex !important;
    justify-content: center;
    align-items: center !important;
    width:100%;
}